In [1]:
from datetime import datetime

In [4]:
a=datetime.now()

In [5]:
a

datetime.datetime(2019, 12, 11, 9, 50, 3, 698155)

In [7]:
a.year

2019

In [8]:
a.month

12

In [9]:
a.day

11

In [10]:
a.hour

9

In [17]:
from datetime import *
now = datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day, now.month, now.year))
print('Time now :{}:{}:{}'.format(now.hour,now.minute, now.second))

2019-12-11 09:55:42.089760
Date now :11-12-2019
Time now :9:55:42

In [23]:
tdm= datetime.today()
print(tdm)
print('Today’s date and time:',tdm)
td=date.today()
print('Today’s date:',td)

2019-12-11 10:00:30.709565
Today’s date and time: 2019-12-11 10:00:30.709565
Today’s date: 2019-12-11

In [25]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)
print(delta.days)

926 days, 15:45:00
926

In [30]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [26]:
print(delta.total_seconds())

80063100.0

In [29]:
datetime(2011,12,26) + timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [33]:
value = '26 Dec 1993'
datetime.strptime(value, '%d %B %Y')

datetime.datetime(1993, 12, 26, 0, 0)

In [34]:
datestrs = ['11 December 2019', '26 December 1993']
[datetime.strptime(x, '%d %B %Y') for x in datestrs]

[datetime.datetime(2019, 12, 11, 0, 0), datetime.datetime(1993, 12, 26, 0, 0)]

In [35]:
a= date.today()

In [36]:
a

datetime.date(2019, 12, 11)

In [39]:
str=a.strftime('%d, %b, %y')
str

'11, Dec, 19'

In [41]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7),
         datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [43]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(6),index = dates)
ts

2011-01-02    0.105304
2011-01-05   -0.656600
2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [44]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
ts.index.dtype   #datetime64[ns] is a general dtype, while <M8[ns] is a specific dtype. 
                #General dtypes map to specific dtypes, but may be different from one installation 
                #of NumPy to the next.

dtype('<M8[ns]')

In [46]:
np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')

True

In [47]:
stamp = ts.index[0]

In [48]:
stamp
##A Timestamp can be substituted anywhere you would use a datetime object. 
#Additionally, it can store frequency information (if any) and understands 
#how to do time zone conversions and other kinds of manipulations.

Timestamp('2011-01-02 00:00:00')

In [49]:
ts[stamp]

0.10530415502075935

In [50]:
stamp = ts.index[1]
stamp

Timestamp('2011-01-05 00:00:00')

In [51]:
ts[stamp]

-0.6566004571357958

In [53]:
now = datetime.now()
print(now)
timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

2019-12-11 10:43:55.760665
timestamp = 1576041235.760665

In [54]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.674573
2000-01-02   -0.588369
2000-01-03   -0.021276
2000-01-04   -0.168768
2000-01-05   -0.757624
                ...
2002-09-22   -1.241327
2002-09-23    1.190511
2002-09-24   -0.465913
2002-09-25    0.297681
2002-09-26   -0.737531
Freq: D, Length: 1000, dtype: float64

In [56]:
longer_ts['2001']

2001-01-01    3.034810
2001-01-02    0.437187
2001-01-03   -1.314877
2001-01-04   -0.036872
2001-01-05   -0.081354
                ...
2001-12-27   -0.182184
2001-12-28   -1.249663
2001-12-29   -1.055822
2001-12-30   -0.541795
2001-12-31   -1.261130
Freq: D, Length: 365, dtype: float64

In [61]:
longer_ts['2001-05']

2001-05-01    0.169980
2001-05-02   -0.291762
2001-05-03   -2.230320
2001-05-04   -0.500150
2001-05-05    1.502027
2001-05-06    0.377916
2001-05-07   -0.935976
2001-05-08    0.518647
2001-05-09   -0.694091
2001-05-10    1.142365
2001-05-11   -0.335732
2001-05-12   -0.312273
2001-05-13    1.162162
2001-05-14    0.855815
2001-05-15   -0.611174
2001-05-16    0.711214
2001-05-17    0.521129
2001-05-18   -1.171248
2001-05-19   -0.552982
2001-05-20   -1.288823
2001-05-21    0.857906
2001-05-22    0.010763
2001-05-23   -0.150757
2001-05-24    0.501259
2001-05-25    0.046096
2001-05-26    0.500148
2001-05-27    0.443472
2001-05-28    1.591904
2001-05-29    0.744381
2001-05-30   -1.719284
2001-05-31    0.105264
Freq: D, dtype: float64

In [62]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [63]:
ts

2011-01-02    0.105304
2011-01-05   -0.656600
2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [70]:
ts['2011-01-05':]

2011-01-05   -0.656600
2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [66]:
ts['2011-01-05':'2011-01-12']

2011-01-05   -0.656600
2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [75]:
ts.truncate(after='1/2/2011')

2011-01-02    0.105304
dtype: float64

In [84]:
pd.date_range('2000-01-01', '2001-01-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [77]:
rng = pd.date_range('2019-01-01', '2020-01-01', freq='WOM-3FRI')
rng

DatetimeIndex(['2019-01-18', '2019-02-15', '2019-03-15', '2019-04-19',
               '2019-05-17', '2019-06-21', '2019-07-19', '2019-08-16',
               '2019-09-20', '2019-10-18', '2019-11-15', '2019-12-20'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [78]:
rng = pd.date_range('2019-01-01', '2020-01-01', freq='D')
rng

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
               '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [79]:
dates = pd.date_range('1/1/2019', periods=100, freq='W-WED')

In [81]:
long_df = pd.DataFrame(np.random.randn(100, 4), 
                        index=dates, columns=['Colorado','Texas','New York', 'Ohio'])

In [82]:
long_df

            Colorado     Texas  New York      Ohio
2019-01-02 -0.242176  1.193946 -0.231455 -0.060956
2019-01-09 -0.242619  0.268615  0.000010  0.003929
2019-01-16  1.157903 -0.681413  0.657058 -1.366306
2019-01-23 -0.979377 -0.615426  2.011821  1.082737
2019-01-30  0.004889 -0.417793  0.198533  0.621228
...              ...       ...       ...       ...
2020-10-28 -0.447650 -0.651037  0.332272  0.168501
2020-11-04 -1.476882 -0.267306 -0.318752 -1.101971
2020-11-11  0.650483  0.087444  0.803619 -0.430762
2020-11-18 -0.485230  1.343276 -1.634668  2.017948
2020-11-25  1.375291  0.544384  0.638491  0.151038

[100 rows x 4 columns]

In [86]:
long_df.loc['5-2019']

            Colorado     Texas  New York      Ohio
2019-05-01  0.657216  0.905620  0.938552  1.662625
2019-05-08  0.001644 -0.599138 -0.568319 -0.639774
2019-05-15 -0.314200 -0.530753 -0.736056 -0.246637
2019-05-22  0.763444  1.522883  0.958689  1.011003
2019-05-29  0.543437  0.539567  1.476415 -0.403773

In [90]:
#normalize : bool, default False
#Normalize start/end dates to midnight before generating date range.
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [91]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',  
                          '1/2/2000', '1/3/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [92]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [93]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [95]:
dup_ts.index.is_unique

False

In [97]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [101]:
grouped = dup_ts.groupby(level = 0)

In [102]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [103]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [104]:
ts

2011-01-02    0.105304
2011-01-05   -0.656600
2011-01-07   -1.074649
2011-01-08   -0.281846
2011-01-10   -2.319629
2011-01-12   -2.301224
dtype: float64

In [106]:
resampler = ts.resample('D')

In [107]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [108]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [111]:
pd.date_range(start='2012-04-01',end ='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [115]:
#freq can also be specified as an Offset object.
pd.date_range(start='1/1/2019', periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [113]:
#freq can also be specified as an Offset object.
pd.date_range(start='1/1/2019', periods=5, freq='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [116]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [117]:
_4hours = Hour(4)
_4hours

In [120]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [124]:
pd.date_range('2000-01-01', periods=10, freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [127]:
s = pd.date_range('2019-12-11',periods = 10)

In [128]:
#Iterate over the dates and print the number and name of the weekday
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [130]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.101814
2000-02-29   -0.385583
2000-03-31    0.800942
2000-04-30   -0.364578
Freq: M, dtype: float64

In [131]:
ts.shift(2)#Leading data

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.101814
2000-04-30   -0.385583
Freq: M, dtype: float64

In [132]:
ts.shift(-2) #Lagging data

2000-01-31    0.800942
2000-02-29   -0.364578
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [135]:
ts.shift(-2, freq='M')

1999-11-30    0.101814
1999-12-31   -0.385583
2000-01-31    0.800942
2000-02-29   -0.364578
Freq: M, dtype: float64

In [134]:
ts

2000-01-31    0.101814
2000-02-29   -0.385583
2000-03-31    0.800942
2000-04-30   -0.364578
Freq: M, dtype: float64

In [139]:
ts.shift(3, freq='D')

2000-02-03    0.101814
2000-03-03   -0.385583
2000-04-03    0.800942
2000-05-03   -0.364578
dtype: float64

In [144]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.101814
2000-02-29 01:30:00   -0.385583
2000-03-31 01:30:00    0.800942
2000-04-30 01:30:00   -0.364578
Freq: M, dtype: float64

In [147]:
from pandas.tseries.offsets import Day, MonthEnd

In [151]:
now = datetime(2019,12,11)

In [152]:
now

datetime.datetime(2019, 12, 11, 0, 0)

In [156]:
now + 2 * Day()

Timestamp('2019-12-13 00:00:00')

In [157]:
now + MonthEnd()

Timestamp('2019-12-31 00:00:00')

In [158]:
now + Day()

Timestamp('2019-12-12 00:00:00')

In [161]:
now + MonthEnd(2)

Timestamp('2020-01-31 00:00:00')

In [162]:
offset = MonthEnd()

In [163]:
now

datetime.datetime(2019, 12, 11, 0, 0)

In [164]:
offset.rollforward(now)

Timestamp('2019-12-31 00:00:00')

In [166]:
offset.rollback(now)

Timestamp('2019-11-30 00:00:00')

In [167]:
import pytz

In [184]:
pytz.common_timezones[:]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [170]:
tz = pytz.timezone('Asia/Kolkata')
tz

In [178]:
a=pd.date_range('11/12/2019 12:13', periods=10, freq='D', tz='UTC')

In [176]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Asia/Kolkata')

In [177]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0530', tz='Asia/Kolkata')

In [179]:
a

DatetimeIndex(['2019-11-12 12:13:00+00:00', '2019-11-13 12:13:00+00:00',
               '2019-11-14 12:13:00+00:00', '2019-11-15 12:13:00+00:00',
               '2019-11-16 12:13:00+00:00', '2019-11-17 12:13:00+00:00',
               '2019-11-18 12:13:00+00:00', '2019-11-19 12:13:00+00:00',
               '2019-11-20 12:13:00+00:00', '2019-11-21 12:13:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [181]:
rng = pd.date_range('11/12/2019 12:18', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2019-11-12 12:18:00   -0.232886
2019-11-13 12:18:00   -0.600258
2019-11-14 12:18:00   -1.125986
2019-11-15 12:18:00    1.134035
2019-11-16 12:18:00   -0.149230
2019-11-17 12:18:00   -0.645943
Freq: D, dtype: float64

In [185]:
ts_utc = ts.tz_localize('America/New_York')

In [186]:
ts_utc

2019-11-12 12:18:00-05:00   -0.232886
2019-11-13 12:18:00-05:00   -0.600258
2019-11-14 12:18:00-05:00   -1.125986
2019-11-15 12:18:00-05:00    1.134035
2019-11-16 12:18:00-05:00   -0.149230
2019-11-17 12:18:00-05:00   -0.645943
Freq: D, dtype: float64

In [187]:
stamp = pd.Timestamp('2019-12-11 12:21')

In [188]:
stamp

Timestamp('2019-12-11 12:21:00')

In [193]:
stamp_utc = stamp.tz_localize('Asia/Kolkata')
stamp_utc

Timestamp('2019-12-11 12:21:00+0530', tz='Asia/Kolkata')

In [194]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2019-12-11 01:51:00-0500', tz='America/New_York')

In [203]:
rng = pd.date_range('11/12/2019 9:30', periods=10, freq='B')

In [204]:
rng

DatetimeIndex(['2019-11-12 09:30:00', '2019-11-13 09:30:00',
               '2019-11-14 09:30:00', '2019-11-15 09:30:00',
               '2019-11-18 09:30:00', '2019-11-19 09:30:00',
               '2019-11-20 09:30:00', '2019-11-21 09:30:00',
               '2019-11-22 09:30:00', '2019-11-25 09:30:00'],
              dtype='datetime64[ns]', freq='B')

In [205]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [206]:
ts

2019-11-12 09:30:00   -0.374420
2019-11-13 09:30:00   -0.734035
2019-11-14 09:30:00   -0.958083
2019-11-15 09:30:00    0.338602
2019-11-18 09:30:00    0.536246
2019-11-19 09:30:00   -3.243263
2019-11-20 09:30:00    0.652160
2019-11-21 09:30:00    0.414576
2019-11-22 09:30:00    0.328956
2019-11-25 09:30:00   -0.234700
Freq: B, dtype: float64

In [207]:
ts1 = ts[:7].tz_localize('Asia/Kolkata')
ts1

2019-11-12 09:30:00+05:30   -0.374420
2019-11-13 09:30:00+05:30   -0.734035
2019-11-14 09:30:00+05:30   -0.958083
2019-11-15 09:30:00+05:30    0.338602
2019-11-18 09:30:00+05:30    0.536246
2019-11-19 09:30:00+05:30   -3.243263
2019-11-20 09:30:00+05:30    0.652160
Freq: B, dtype: float64

In [208]:
ts2 = ts1[2:].tz_convert('America/New_York')
ts2

2019-11-13 23:00:00-05:00   -0.958083
2019-11-14 23:00:00-05:00    0.338602
2019-11-17 23:00:00-05:00    0.536246
2019-11-18 23:00:00-05:00   -3.243263
2019-11-19 23:00:00-05:00    0.652160
Freq: B, dtype: float64

In [209]:
ts1+ts2

2019-11-12 04:00:00+00:00         NaN
2019-11-13 04:00:00+00:00         NaN
2019-11-14 04:00:00+00:00   -1.916166
2019-11-15 04:00:00+00:00    0.677205
2019-11-18 04:00:00+00:00    1.072491
2019-11-19 04:00:00+00:00   -6.486526
2019-11-20 04:00:00+00:00    1.304320
Freq: B, dtype: float64