In [4]:
import pandas as pd
p = pd.Period(2007, freq='A-MAY')
p

Period('2007', 'A-MAY')

In [5]:
p+2

Period('2009', 'A-MAY')

In [6]:
p-2

Period('2005', 'A-MAY')

In [8]:
p

Period('2007', 'A-MAY')

In [11]:
pd.Period(2014,freq = 'A-MAY')-p

In [14]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [15]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='D')
rng

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [16]:
#DataFrame.asfreq - Convert TimeSeries to specified frequency.
#Optionally provide filling method to pad/backfill missing values.
#Returns the original data conformed to a new index with the specified frequency. 
#resample is more appropriate if an operation, such as summarization, 
#is necessary to represent the data at the new frequency.

In [25]:
index = pd.date_range('1/1/2000', periods=4, freq='T')
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
df = pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [26]:
#Upsample the series into 30 second bins
df.asfreq(freq='30S')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [27]:
#Upsample again, providing a fill value.
df.asfreq(freq='30S', fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [28]:
p

Period('2007', 'A-MAY')

In [32]:
p.asfreq('D', how='start')

Period('2006-06-01', 'D')

In [33]:
p.asfreq('D',how = 'end')

Period('2007-05-31', 'D')

In [34]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [41]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [42]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [52]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [53]:
import numpy as np
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [54]:
ts

2006    0.490288
2007   -0.599335
2008    0.257541
2009    0.442864
Freq: A-DEC, dtype: float64

In [61]:
ts.asfreq('M', how='start')

2006-01    0.490288
2007-01   -0.599335
2008-01    0.257541
2009-01    0.442864
Freq: M, dtype: float64

In [62]:
ts.asfreq('M', how='end')

2006-12    0.490288
2007-12   -0.599335
2008-12    0.257541
2009-12    0.442864
Freq: M, dtype: float64

In [71]:
p = pd.Period('2012Q4', freq='M')
p

Period('2012-10', 'M')

In [73]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [74]:
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [75]:
pts = ts.to_period()
pts

AttributeError: 'PeriodIndex' object has no attribute 'to_period'

In [78]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [79]:
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.262889
2000-02-29    0.148376
2000-03-31   -0.798347
Freq: M, dtype: float64

In [81]:
pts = ts.to_period()
pts

2000-01   -0.262889
2000-02    0.148376
2000-03   -0.798347
Freq: M, dtype: float64

In [82]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29    0.668655
2000-01-30    0.805786
2000-01-31   -0.254557
2000-02-01   -1.449389
2000-02-02    0.201770
2000-02-03    0.267973
Freq: D, dtype: float64

In [83]:
ts2.to_period()

2000-01-29    0.668655
2000-01-30    0.805786
2000-01-31   -0.254557
2000-02-01   -1.449389
2000-02-02    0.201770
2000-02-03    0.267973
Freq: D, dtype: float64

In [84]:
ts2.to_period('M')

2000-01    0.668655
2000-01    0.805786
2000-01   -0.254557
2000-02   -1.449389
2000-02    0.201770
2000-02    0.267973
Freq: M, dtype: float64

In [85]:
pts = ts2.to_period()
pts

2000-01-29    0.668655
2000-01-30    0.805786
2000-01-31   -0.254557
2000-02-01   -1.449389
2000-02-02    0.201770
2000-02-03    0.267973
Freq: D, dtype: float64

In [86]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.668655
2000-01-30 23:59:59.999999999    0.805786
2000-01-31 23:59:59.999999999   -0.254557
2000-02-01 23:59:59.999999999   -1.449389
2000-02-02 23:59:59.999999999    0.201770
2000-02-03 23:59:59.999999999    0.267973
Freq: D, dtype: float64

In [87]:
pts.to_timestamp(how='start')

2000-01-29    0.668655
2000-01-30    0.805786
2000-01-31   -0.254557
2000-02-01   -1.449389
2000-02-02    0.201770
2000-02-03    0.267973
Freq: D, dtype: float64

In [88]:
#resample - Resample time-series data.
#Convenience method for frequency conversion and resampling of time series. 
#Object must have a datetime-like index 
#closed : {‘right’, ‘left’}, default None
#Which side of bin interval is closed. 
#The default is ‘left’ for all frequency offsets except for 
#‘M’, ‘A’, ‘Q’, ‘BM’, ‘BA’, ‘BQ’, and ‘W’ which all have a default of ‘right’.

#label : {‘right’, ‘left’}, default None
#Which bin edge label to label bucket with. 
#The default is ‘left’ for all frequency offsets except for 
#‘M’, ‘A’, ‘Q’, ‘BM’, ‘BA’, ‘BQ’, and ‘W’ which all have a default of ‘right’

In [89]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [93]:
series.resample('3T').sum()
#Downsample the series into 3 minute bins as above, 
#but label each bin using the right edge instead of the left. 
#Please note that the value in the bucket used as the label 
#is not included in the bucket, 
#which it labels. For example, in the original series the 
#bucket 2000-01-01 00:03:00 
#contains the value 3, but the summed value in the resampled bucket 
#with the label
#2000-01-01 00:03:00 does not include 3 
#(if it did, the summed value would be 6, not 3)

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [94]:
#Downsample the series into 3 minute bins as above,
#but close the right side of the bin interval.
series.resample('3T', label='right', closed='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [96]:
#Upsample the series into 30 second bins.
series.resample('30S').asfreq()[0:5]

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
Freq: 30S, dtype: float64

In [97]:
#Upsample the series into 30 second bins and 
#fill the NaN values using the pad method
series.resample('30S').pad()[0:5]

2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
Freq: 30S, dtype: int64

In [99]:
import pandas as pd  
# By default the "date" column was in string format, 
# we need to convert it into date-time format 
# parse_dates =["date"], converts the "date"  
# column to date-time format. We know that  
# resampling works with time-series data only 
# so convert "date" column to index 
# index_col ="date", makes "date" column, the index of the data frame 
df = pd.read_csv("apple.csv",parse_dates =["date"], index_col ="date") 
# Printing the first 10 rows of dataframe 
df[:10]

                      close       volume    open    high       low
date
2019-12-12 16:00:00  192.23  4,65,41,444  191.72  197.18  191.4501
2018-11-13 00:00:00  192.23     46725710  191.63  197.18  191.4501
2018-12-11 00:00:00  194.17     50991030  199.00  199.85  193.7900
2018-09-11 00:00:00  204.47     34317760  205.55  206.01  202.2500
2018-08-11 00:00:00  208.49     25289270  209.98  210.12  206.7500
2018-07-11 00:00:00  209.95     33291640  205.97  210.06  204.1300
2018-06-11 00:00:00  203.77     31774720  201.92  204.72  201.6900
2018-05-11 00:00:00  201.59     66072170  204.30  204.39  198.1700
2018-02-11 00:00:00  207.48     91046560  209.55  213.65  205.4300
2018-01-11 00:00:00  222.22     52954070  219.05  222.36  216.8100

In [100]:
# Resampling the time series data based on months 
# we apply it on stock close price 
# 'M' indicates month 
monthly_resampled_data = df.close.resample('M').mean() 
# the above command will find the mean closing price 
# of each month for a duration of 12 months. 
monthly_resampled_data

date
2017-01-31    171.050000
2017-02-28           NaN
2017-03-31           NaN
2017-04-30    169.800000
2017-05-31    169.640000
2017-06-30    169.010000
2017-07-31    169.320000
2017-08-31    169.370000
2017-09-30           NaN
2017-10-31           NaN
2017-11-30    172.132143
2017-12-31    172.843846
2018-01-31    181.018421
2018-02-28    179.354000
2018-03-31    178.291579
2018-04-30    178.079444
2018-05-31    188.672273
2018-06-30    188.047143
2018-07-31    192.189000
2018-08-31    207.562609
2018-09-30    207.402381
2018-10-31    210.257500
2018-11-30    193.243750
2018-12-31    190.702222
2019-01-31           NaN
2019-02-28           NaN
2019-03-31           NaN
2019-04-30           NaN
2019-05-31           NaN
2019-06-30           NaN
2019-07-31           NaN
2019-08-31           NaN
2019-09-30           NaN
2019-10-31           NaN
2019-11-30           NaN
2019-12-31    192.230000
Freq: M, Name: close, dtype: float64

In [101]:
# Resampling the time series data based on weekly frequency 
# we apply it on stock open price 'W' indicates week 
weekly_resampled_data = df.open.resample('W').mean() 
# find the mean opening price of each month  
# for each week over a period of 1 year. 
weekly_resampled_data

date
2017-01-15    169.95
2017-01-22       NaN
2017-01-29       NaN
2017-02-05       NaN
2017-02-12       NaN
               ...
2019-11-17       NaN
2019-11-24       NaN
2019-12-01       NaN
2019-12-08       NaN
2019-12-15    191.72
Freq: W-SUN, Name: open, Length: 153, dtype: float64